<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.sunshineboys.it.cropmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sunshine_boys_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sunshine_boys_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropManagementSystem">
        <activity
            android:name=".SunshineMain"
            android:label="@string/app_name"
            android:theme="@style/Theme.CropManagementSystem.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>