<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.sunshineboys.it.cropmanagementsystem"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sunshine_boys_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sunshine_boys_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropManagementSystem">

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SunshineMain"
            android:label="@string/app_name"
            android:theme="@style/Theme.CropManagementSystem.NoActionBar" />
        <activity
            android:name=".OnboardingActivity"
            android:label="Get Started!"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".PopUp"
            android:theme="@style/PopUpWindow" />
        <activity
            android:name=".ReviewScreen" />
    </application>

</manifest>